<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add  name="htmlFormFormatter"  type="Yyf.Core.Common.WCF.HtmlForm.FormProcessingBehaviorElement, SkinTalk"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <webHttpBinding >
        <binding name="webHttp" >
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="htmlForm">
          <webHttp />
          <htmlFormFormatter />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SkinTalk.SkinService">
        <endpoint address=""  binding="webHttpBinding"   bindingConfiguration="webHttp"  behaviorConfiguration="htmlForm" contract="SkinTalk.ISkinService" >
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
