body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:473px;
  height:2048px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2048px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1016px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:20px;
  width:85px;
  height:30px;
  font-family:'新細明體 Bold', '新細明體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#800080;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
