body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1023px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:372px;
  top:365px;
  width:146px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:548px;
  top:365px;
  width:146px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:335px;
  top:234px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:412px;
  top:234px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:494px;
  top:234px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:571px;
  top:234px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:646px;
  top:234px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:338px;
  top:294px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:416px;
  top:294px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:498px;
  top:294px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:574px;
  top:294px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:650px;
  top:294px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:35px;
  top:33px;
  width:65px;
  height:65px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:933px;
  top:33px;
  width:65px;
  height:65px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
